body {
  margin: 0;
  padding: 0;

  background-color: white;
  background-image: url("../preview/technomart-index.jpg");
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-position-x: center;
  min-height: 3160px;
  min-width: 1200px;

  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 18px;
}

.container {
  width: 940px;

  padding: 0 130px; /*ширина страницы 1200*/
  margin: 0 auto;

  outline: 2px dashed green;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  /*Временно*/
  min-height: 320px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  /*Временно*/
  background-color: rgba(0, 255, 255, 0.438);
}

.header-top .container {
  display: flex;
}

.header-top-left {
  display: flex;
  justify-content: flex-start;

  width: 490px;
  margin: 0;
  padding: 0;

  /*Временно*/
  min-height: 42px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top-right {
  display: flex;
  justify-content: space-around;

  width: 450px;
  margin: 0;
  padding: 0;

  /*Временно*/
  min-height: 42px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top-right *,
.header-top-left * {
  flex-grow: 1;

  /*Временно*/
  font-weight: bold;
  text-align: center;
  background-color: rgba(43, 255, 0, 0.438);
  outline: 2px solid rgb(255, 0, 0);
}

.header-logo {
  flex-grow: 0;
  width: 220px;
}

.header-mid {
  display: flex;
  justify-content: space-between;

  margin-bottom: 37px;

  /*Временно*/
  min-height: 75px;
  background-color: rgba(43, 255, 0, 0.349);
}

.header-mid * {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  /*Временно*/
  min-height: 75px;
  outline: 2px solid rgb(255, 0, 0);
}

.header-logon li {
  /*Временно*/
  display: inline-block;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 21px;

  /*Временно*/
  min-height: 60px;
  background-color: rgba(43, 255, 0, 0.438);
}

.main-nav-list li {
  list-style: none;

  /*Временно*/
  outline: 2px solid rgb(255, 0, 0);
}

.promo {
  margin-top: 59px;
  margin-bottom: 85px;

  /*Временно*/
  min-height: 1329px;
  outline: 2px solid rgb(255, 0, 0);
}

.services {
  margin-bottom: 82px;

  /*Временно*/
  min-height: 522px;
  outline: 2px solid rgb(255, 0, 0);
}

.services .container {

  /*Временно*/
  min-height: 522px;
}

.about-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
  /*Временно*/
  min-height: 368px;
  outline: 2px solid rgb(255, 0, 0);
}

.about-description {
  width: 520px;
  /*Временно*/
  min-height: 368px;
  background-color: rgba(43, 255, 0, 0.438);
}

.about-contacts {
  width: 300px;
  /*Временно*/
  min-height: 368px;
  background-color: rgba(4, 0, 255, 0.438);
}

.main-footer {

  min-height: 300px;
  outline: 2px solid rgb(255, 0, 0);
}

.footer-top {

  min-height: 300px;
  background-color: rgba(4, 0, 255, 0.438);
}
