body {
  margin: 0;
  padding: 0;

  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 18px;
}

body.page-index {
  background-color: white;
  background-image: url("../preview/technomart-index.jpg");
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-position-x: center;
  min-height: 3160px;
  min-width: 1200px;
}

body.page-catalog {
  background-color: white;
  background-image: url("../preview/technomart-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-position-x: center;
  min-height: 2260px;
  min-width: 1200px;
}

.container {
  width: 940px;

  padding: 0 130px; /*ширина страницы 1200*/
  margin: 0 auto;

  outline: 2px dashed green;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  /*Временно*/
  min-height: 320px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  /*Временно*/
  background-color: rgba(0, 255, 255, 0.438);
}

.header-top .container {
  display: flex;
}

.header-top-left {
  display: flex;
  justify-content: flex-start;

  width: 490px;
  /*Временно*/
  min-height: 42px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top-right {
  display: flex;
  justify-content: space-around;

  width: 450px;

  /*Временно*/
  min-height: 42px;
  outline: 2px dashed rgb(225, 0, 255);
}

.header-top-right *,
.header-top-left * {
  flex-grow: 1;

  /*Временно*/
  font-weight: bold;
  text-align: center;
  background-color: rgba(43, 255, 0, 0.438);
  outline: 2px solid rgb(255, 0, 0);
}

.header-logo {
  flex-grow: 0;
  width: 220px;
}

.header-mid {
  display: flex;
  justify-content: space-between;

  margin-bottom: 37px;

  /*Временно*/
  min-height: 75px;
  background-color: rgba(43, 255, 0, 0.349);
}

.header-mid * {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  /*Временно*/
  min-height: 75px;
  outline: 2px solid rgb(255, 0, 0);
}

.header-logon li {
  /*Временно*/
  display: inline-block;
}

.header-user {
  display: flex;
  flex-direction: column;

  list-style: none;
  /*Временно*/
  min-height: 75px;
}

.header-user * {
  min-height: 30px;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 21px;

  /*Временно*/
  min-height: 60px;
  background-color: rgba(43, 255, 0, 0.438);
}

.main-nav-list li {
  list-style: none;

  /*Временно*/
  outline: 2px solid rgb(255, 0, 0);
}

.promo {
  margin-top: 59px;
  margin-bottom: 85px;

  /*Временно*/
  min-height: 1329px;
  outline: 2px solid rgb(255, 0, 0);
  background-color: rgba(4, 0, 255, 0.438);
}

.services {
  margin-bottom: 82px;

  /*Временно*/
  min-height: 522px;
  outline: 2px solid rgb(255, 0, 0);
  background-color: rgba(4, 0, 255, 0.438);
}

.about-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
  /*Временно*/
  min-height: 368px;
  outline: 2px solid rgb(255, 0, 0);
}

.about-description {
  width: 520px;
  /*Временно*/
  min-height: 368px;
  background-color: rgba(43, 255, 0, 0.438);
}

.about-contacts {
  width: 300px;
  /*Временно*/
  min-height: 368px;
  background-color: rgba(208, 255, 0, 0.438);
}
/* Каталог */

.catalog .container {
  margin-bottom: 60px;
}

.breadcrumbs {
  display: flex;

  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;

  list-style: none;
  /*Временно*/
  min-height: 13px;
  background-color: rgba(208, 255, 0, 0.438);
}

.breadcrumbs li {
  display: inline-block;
  /*Временно*/
  min-height: 13px;
}

.catalog-category {
  margin-bottom: 20px;
  /*Временно*/
  min-height: 89px;
  outline: 2px solid rgb(255, 0, 0);
}

.catalog-area {
  display: flex;
  justify-content: space-between;
  /*Временно*/
  min-height: 1142px;
  outline: 2px dashed rgba(17, 0, 255, 0.637);
}

.filters {
  width: 220px;
  /*Временно*/
  min-height: 1142px;
  background-color: rgba(208, 255, 0, 0.212);
}

.catalog-area-right {
  width: 700px;
  /*Временно*/
  min-height: 1142px;
  background-color: rgba(0, 255, 255, 0.219);
}

.sorting {
  margin-bottom: 20px;

  /*Временно*/
  min-height: 38px;
  outline: 2px solid rgb(255, 0, 0);
}

.sorting-sortby {
  margin: 0;
  padding: 0;
  list-style: none;

  /*Временно*/
  min-height: 38px;
  outline: 2px solid rgb(255, 0, 0);
}

.goods {
  margin-bottom: 32px;

  /*Временно*/
  min-height: 994px;
  outline: 2px dashed rgba(33, 117, 0, 0.808);
}

.goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  /*Временно*/
  min-height: 994px;
}

.goods-item {
  width: 220px;
  height: 318px;

  margin-right: 20px;
  margin-bottom: 20px;
  /*Временно*/
  outline: 2px dotted rgb(0, 160, 160);
}

.goods-item:nth-child(3n) {
  margin-right: 0;
}

.goods-pagination {
  margin: 0;
  padding: 0;
  list-style: none;

  /*Временно*/
  min-height: 38px;
  outline: 2px solid rgb(255, 0, 0);
}

.about-goods {
  margin: 0 auto;
  padding: 0;

  /*Временно*/
  min-height: 261px;
  outline: 2px solid rgb(255, 0, 0);
}

/* Футер */
.main-footer {
  margin: 0;

  /*Временно*/
  min-height: 300px;
  outline: 2px solid rgb(255, 0, 0);
}

.footer-top {
  display: flex;
  /*Временно*/
  min-height: 193px;
  outline: 2px dashed rgb(255, 0, 255);
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 393px;

  /*Временно*/
  min-height: 193px;
  outline: 2px dashed rgb(255, 0, 255);
}

.footer-top-left * {
  /*Временно*/
  width: 300px;
  min-height: 70px;
  background-color: rgba(251, 255, 0, 0.712);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 20px;

  width: 547px;

  /*Временно*/
  min-height: 173px;
  outline: 2px dashed rgb(255, 0, 255);
}

.footer-nav-row1 {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
  /*Временно*/
  min-height: 34px;
  outline: 2px dashed rgb(0, 255, 21);
}

.footer-nav-row1 li {
  width: 100px;
  /*Временно*/
  min-height: 34px;
  background-color: rgba(251, 255, 0, 0.712);
}

.footer-nav-row2 {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
  padding-left: 23px;

  /*Временно*/
  min-height: 34px;
  outline: 2px dashed rgb(0, 225, 255);
}

.footer-nav-row2 li {
  width: 100px;
  /*Временно*/
  min-height: 34px;
  background-color: rgba(251, 255, 0, 0.712);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  /*Временно*/
  min-height: 107px;
  outline: 2px dashed rgb(0, 238, 255);
}

.footer-bottom * {
  /*Временно*/
  width: 100px;
  margin: 0 10px;
  min-height: 107px;
  background-color: rgba(251, 255, 0, 0.712);
}
