@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Regular"),
    local("Cuprum-Regular"),
    url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"),
    local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"),
    local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"),
    local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/*font-family: "PT Sans", "Arial", sans-serif;
font-family: "Cuprum", "Arial", sans-serif;*/

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;

  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.block {
  box-sizing: content-box;
}

.container {
  width: 960px;

  padding: 0 10px; /*ширина страницы 1200*/
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------ХЕДЕР-----------------------------------------*/
.main-header {
  margin: 0 auto;

  background-color: #f1f5f7;
}
/*------------------------Верх хедера-----------------------------------------*/
.header-top {
  margin-bottom: 45px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.header-top-wrapper {
  display: flex;
}

.header-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 490px;
}

.header-logo {
  display: inline-block;

  width: 220px;
  height: 42px;

  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-logo img {
  margin-top: 13px;
}

.header-form-search {
  position: relative;
}

.header-form-search svg {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.header-form-search .search-input {
  position: relative;
  min-width: 270px;

  padding: 12px 12px;
  padding-left: 48px;

  font: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  border: none;
  background-color: #293449;
}

.header-form-search:hover,
.header-form-search .search-input:hover {
  background-color: #212a3a;
}

.search-input:focus + svg,
.search-input:hover + svg {
  opacity: 1;
}

.header-form-search .search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus + svg path {
  fill: #ee3643;
  opacity: 1;
}

.header-form-search .search-input:focus ~ label {
  display: none;
}

.header-form-search label {
  position: absolute;
  top: 12px;
  left: 48px;
}

.header-top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 450px;
}

.header-top-item {
  display: block;
  position: relative;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 43px;
  padding-right: 32px;

  color: #ffffff;
  line-height: 18px;

  text-decoration: none;
}

.header-top-favorites,
.header-top-bin {
  flex-grow: 1;
}

.header-top-favorites::before,
.header-top-bin::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-top-favorites::before {
  top: 12px;
  left: 17px;

  background-image: url("../img/icon-bookmark.svg");
}

.header-top-bin::before {
  top: 12px;
  left: 14px;

  background-image: url("../img/icon-cart.svg");
}

.header-top-favorites:hover,
.header-top-favorites:focus,
.header-top-bin:hover,
.header-top-bin:focus {
  background-color: #212a3a;
}

.header-top-favorites:hover::before,
.header-top-bin:hover::before,
.header-top-favorites:focus::before,
.header-top-bin:focus::before {
  opacity: 1;
}

.header-top-favorites:active,
.header-top-bin:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top-favorites:active::before,
.header-top-bin:active::before {
  opacity: 0.3;
}

.header-top-order {
  width: 150px;
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.header-top-order:hover,
.header-top-order:focus {
  background-color: #5fbb2d;
}

.header-top-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/*------------------------Средняя область хедера-----------------------------------------*/
.header-mid {
  display: flex;
  justify-content: space-between;

  margin-bottom: 38px;
}

.header-mid * {
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.header-description {
  width: 260px;
  padding-top: 4px;
  padding-left: 52px;
  margin-right: 45px;

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  margin-right: 36px;
}

.header-phone {
  position: relative;

  display: block;
  padding: 9px;
  padding-left: 41px;
  padding-right: 20px;
  margin-bottom: 5px;

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;

  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-address {
  display: block;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/*---------------------Кнопки входа--------------------------*/
.header-login-menu {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
}

.header-logon {
  justify-content: flex-end;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.header-logon a {
  display: block;
  padding: 12px 0;

  height: 45px;

  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.header-logon .button-login {
  position: relative;
  width: 121px;
  padding-left: 47px;
  padding-right: 27px;
  margin-right: 10px;
}

.button-login svg {
  position: absolute;
  top: 15px;
  left: 14px;
}

.header-logon .button-reg {
  width: 150px;
  padding-left: 24px;
  padding-right: 25px;
}

.header-logon a:hover,
.header-logon a:focus {
  color: #ee3643;
}

.button-login:hover path {
  fill: #32425c;
}

.header-logon a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-login:active path {
  fill: #c5c5c5;
}

/*---------------------Пльзователь вошел--------------------------*/
.header-user {
  display: flex;
  flex-direction: column;
}

.username-buttons {
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.username-buttons a {
  color: #000000;
  text-decoration: none;
}

.username-buttons a:active {
  opacity: 0.3;
}

.user-menu {
  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.user-menu a {
  color: #32425c;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

/*------------------------Хедер низ, навигация-----------------------------------------*/
.main-nav {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav-list li {
  flex-grow: 0;

  text-align: center;
}

.main-nav-list a {
  display: inline-block;
  height: 61px;

  padding: 21px 0;

  color: #ffffff;
  text-decoration: none;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  background-color: #293449;
}

.main-nav-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*------------------------Основная. Содержимое-----------------------------------------*/
.button-red {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}
/*------------------------Основная.-----------------------------------------*/
/*---------------------Основаная. Промо--------------------------*/
.promo {
  display: flex;
  flex-wrap: wrap;

  margin-top: 59px;
  margin-bottom: 33px;

  background-color: #ffffff;
}

/*Плитки*/
.promo-small-block {
  width: 300px;
  height: 123px;

  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-small-group .promo-small-block {
  margin-right: 0;
}

.promo .promo-small-block:nth-of-type(3n) {
  margin-right: 0;
}

/*Кнопка*/
.promo-small-block h3 {
  margin: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-small-block a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-small-block a:hover,
.promo-small-block a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-small-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-instruments {
  background-color: #3bbce3;
}

.promo-technics {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

/*Промо слайдер*/
.promo-slider {
  width: 620px;
  height: 266px;

  margin-right: 20px;
  margin-bottom: 20px;

  outline: 2px solid rgb(255, 0, 0);
}

.promo-slider h3 {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-slider p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
/*---------------------Основаная. Популярное--------------------------*/
.popular-header {
  margin-top: 20px;

  background-color: #f9f5f0;
}

.popular-header h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/*---------------------Основаная. Популярные товары--------------------------*/
.popular-goods {
  margin-bottom: 20px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
}

.popular-goods-list li {
  margin-top: 20px;
  margin-bottom: 0;
}

.popular-goods-list li:nth-child(4n) {
  margin-right: 0;
}

/*Карточки товаров см. стили каталога - Перечень товаров*/
/*---------------------Основаная. Популярные производители--------------------------*/
.popular-devs {
  margin-bottom: 85px;
}

.popular-devs-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.popular-devs-list li {
  width: 220px;
  height: 145px;

  margin-right: 20px;
  margin-top: 20px;

  text-align: center;

  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.popular-devs-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-devs-list li:hover,
.popular-devs-list li:focus {
  border: none;
  box-shadow: 0 10px 20px 0 rgba(41, 52, 73, 0.5);
}

.popular-devs-list li:active {
  opacity: 0.3;
  box-shadow: 0 4px 20px 0 rgba(41, 52, 73, 0.5);
}
/*---------------------Основная. Сервисы слайдер--------------------------*/
.services {
  margin-bottom: 82px;

  background-color: #f4f8f9;
}

.services h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.services-slider {
  display: flex;
}

.services-buttons {
  width: 240px;

  list-style: none;
}

.services-buttons button {
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;
  border: none;
}

.services-buttons button:hover,
.services-buttons .button-red:focus {
  background-color: #293449;
}

.services-buttons button:active {
  color: #32425c;
  background-color: #ffffff;
}

.service-slides {
  width: 700px;
}
/*------------------------Основная. О компании-----------------------------------------*/
.about-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;

  color: #000000;
}

.about-description {
  width: 520px;
}

.about-columns h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-columns p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-delivery {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-contacts {
  width: 300px;
}
/*------------------------Каталог-----------------------------------------*/
/*------------------------Каталог. Содержимое-----------------------------------------*/
.catalog {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

.breadcrumbs {
  display: flex;

  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-category {
  margin-bottom: 20px;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-area {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}
/*------------------------Каталог. Фильтры. Левая часть---------------------*/
.filters {
  width: 220px;

  background-color: #ffffff;
}

.filters h2 {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: #f7f3ec;
}
/*------------------------Каталог. Фильтры. По цене-------------------------*/
.form-filter input {
  background-color: #f7f3ec;
}

.form-filter input[type="text"] {
  border: none;
}
/*------------------------Каталог. Фильтры. Переключатели-------------------*/
.filter-switches legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-switches ul {
  color: #000000;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
  text-transform: uppercase;
}

.filter-switches fieldset {
  border: none;
}

.filter-devs input[type="checkbox"]:disabled ~ label {
  opacity: 0.4;
}

.filter-showbutton {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}
/*------------------------Каталог. Правая часть----------------------*/
/*------------------------Каталог. Фильтры. Сортировка----------------------*/
.catalog-area-right {
  width: 700px;
}

.sorting {
  margin-bottom: 20px;

  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-sortby {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-sortby a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #ee3643;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.sorting-sortby a:hover,
.sorting-sortby a:focus {
  color: #000000;
  text-decoration-style: solid;
}

.sorting-sortby a:active {
  color: #ee3643;
  text-decoration: none;
}
/*------------------------Каталог, Основная. Перечень товаров---------------*/
.goods {
  margin-bottom: 32px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.goods-list,
.goods-item-popup {
  list-style: none;
}

.goods-name {
  font-size: 18px;
  line-height: 20px;
}

.goods-list a {
  text-decoration: none;
}

.goods-name a {
  color: #000000;
}

.goods-item {
  width: 218px;
  height: 318px;

  margin-right: 20px;
  margin-bottom: 20px;

  box-shadow: 0 0 0 1px #e5e5e5;
}

.catalog-goods-list .goods-item:nth-child(3n) {
  margin-right: 0;
}

.goods-item:hover,
.goods-item:focus {
  box-shadow: none;
}

.goods-discount {
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
}

.goods-cost {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  background-color: #ee3643;
}

.item-popup-buy,
.item-popup-addfavorites {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
}

.item-popup-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.item-popup-buy:hover,
.item-popup-buy:focus {
  background-color: #5fbb2d;
}

.item-popup-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item-popup-addfavorites {
  color: #32425c;

  background-color: transparent;
  border: 3px solid #63a63e;
}

.item-popup-addfavorites:hover,
.item-popup-addfavorites:focus {
  border: 3px solid #32425c;
}

.item-popup-addfavorites:active {
  opacity: 0.3;
}
/*------------------------Каталог. Пагинация--------------------------------*/
.goods-pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-current {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}
/*------------------------Каталог. О товарах--------------------------------*/
.about-goods {

  background-color: #f2f6f8;
}

.about-goods h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-goods p {
  margin: 0;

  color: #000000;

  font-size: 13px;
  line-height: 24px;
}
/*------------------------ФУТЕР-----------------------------------------*/
/*------------------------Верх футера-----------------------------------------*/
.main-footer {
  margin: 0;
}

.footer-top {
  background-color: #32425c;
}

.footer-top-wrapper {
  display: flex;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 393px;
}

.footer-top-left p {
  display: flex;

  font-size: 18px;
  line-height: 24px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 20px;

  width: 547px;
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-nav-row1 {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
}

.footer-nav-row1 a {
  color: #f1f5f7;
}

.footer-nav-row2 {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
  padding-left: 23px;
}

.footer-nav-row2 a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
}
/*------------------------Низ футера-----------------------------------------*/

.footer-bottom {
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-socials a {
  display: inline-block;

  font-size: 0;

  background-color: #212a3a;

  width: 43px;
  height: 43px;

  border-radius: 50%;
}

.footer-socials a:hover,
.footer-socials a:focus,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-links a {
  color: #ffd180;
  text-decoration: none;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #ffd180;
  text-decoration: underline;
}

.footer-links a:active {
  color: #ee3643;
}
