@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Regular"),
    local("Cuprum-Regular"),
    url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"),
    local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"),
    local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"),
    local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/*font-family: "PT Sans", "Arial", sans-serif;
font-family: "Cuprum", "Arial", sans-serif;*/

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;

  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.block {
  box-sizing: content-box;
}

.container {
  width: 960px;

  padding: 0 10px; /*ширина страницы 1200*/
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------ХЕДЕР-----------------------------------------*/
.main-header {
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #f1f5f7;
}
/*------------------------Верх хедера-----------------------------------------*/
.header-top {
  margin-bottom: 45px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.header-top-wrapper {
  display: flex;
}

.header-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 490px;
}

.logo {
  display: inline-block;

  width: 220px;

  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-logo {
  height: 42px;
}

.header-logo img {
  margin-top: 13px;
}

.header-form-search {
  position: relative;
}

/* Проверил в IE цвет меняется */
.search-input::placeholder {
  color: white;
}

.header-form-search svg {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.header-form-search .search-input {
  position: relative;
  min-width: 270px;

  padding: 12px 12px;
  padding-left: 48px;

  font: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  border: none;
  background-color: #293449;
}

.header-form-search:hover,
.header-form-search .search-input:hover {
  background-color: #212a3a;
}

.search-input:focus + svg,
.search-input:hover + svg {
  opacity: 1;
}

.header-form-search .search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus + svg path {
  fill: #ee3643;
  opacity: 1;
}
/* Заменил плейсхоодером, вроде поддержка есть */
/* .header-form-search .search-input:focus ~ label {
  display: none;
}

.header-form-search label {
  display: none;
  position: absolute;
  top: 12px;
  left: 48px;
} */

.header-top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 450px;
}

.header-top-item {
  display: block;
  position: relative;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 43px;
  padding-right: 32px;

  color: #ffffff;
  line-height: 18px;

  text-decoration: none;
}

.header-top-favorites,
.header-top-bin {
  flex-grow: 1;
}

.header-top-favorites::before,
.header-top-bin::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-top-favorites::before {
  top: 12px;
  left: 17px;

  background-image: url("../img/icon-bookmark.svg");
}

.header-top-bin::before {
  top: 12px;
  left: 14px;

  background-image: url("../img/icon-cart.svg");
}

.header-top-favorites:hover,
.header-top-favorites:focus,
.header-top-bin:hover,
.header-top-bin:focus {
  background-color: #212a3a;
}

.header-top-favorites:hover::before,
.header-top-bin:hover::before,
.header-top-favorites:focus::before,
.header-top-bin:focus::before {
  opacity: 1;
}

.header-top-favorites:active,
.header-top-bin:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top-favorites:active::before,
.header-top-bin:active::before {
  opacity: 0.3;
}

.header-top-order {
  width: 150px;
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.header-top-order:hover,
.header-top-order:focus {
  background-color: #5fbb2d;
}

.header-top-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/*------------------------Средняя область хедера-----------------------------------------*/
.header-mid {
  display: flex;
  justify-content: space-between;

  margin-bottom: 39px;
}

.header-mid * {
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.header-description {
  width: 260px;
  padding-top: 4px;
  padding-left: 52px;
  margin-right: 45px;

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  margin-right: 36px;
}

.header-phone {
  position: relative;

  display: block;
  padding: 9px;
  padding-left: 41px;
  padding-right: 20px;
  margin-bottom: 5px;

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;

  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-address {
  display: block;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/*---------------------Кнопки входа--------------------------*/
.header-login-menu {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
}

.header-logon {
  justify-content: flex-end;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.header-logon a {
  display: block;
  padding: 12px 0;

  height: 45px;

  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.header-logon .button-login {
  position: relative;
  width: 121px;
  padding-left: 47px;
  padding-right: 27px;
  margin-right: 10px;
}

.button-login svg {
  position: absolute;
  top: 15px;
  left: 14px;
}

.header-logon .button-reg {
  width: 150px;
  padding-left: 24px;
  padding-right: 25px;
}

.header-logon a:hover,
.header-logon a:focus {
  color: #ee3643;
}

.button-login:focus path,
.button-login:hover path {
  fill: #32425c;
}

.header-logon a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-login:active path {
  fill: #c5c5c5;
}

/*---------------------Пльзователь вошел--------------------------*/
.header-user {
  flex-direction: column;
}

.username-buttons {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin-bottom: 8px;

  background-color: #ffffff;
}

.username-buttons a:active {
  opacity: 0.3;
}

.username-buttons a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.header-user .user-profile {
  position: relative;
  width: 259px;
  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 47px;
}

.user-profile svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.header-user .user-exit {
  position: relative;
  width: 40px;
  font-size: 0;
}

.user-exit svg {
  position: absolute;
  top: 15px;
  left: 9px;
}

.user-profile:hover path,
.user-exit:hover path,
.user-profile:focus path,
.user-exit:focus path {
  fill: #32425c;
}

.user-profile a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile:active path,
.user-exit:active path {
  fill: #c5c5c5;
}

.user-menu {
  padding-left: 18px;
  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.user-menu li {
  display: inline-block;
}

.user-menu-separator {
  margin: 0 10px;
  margin-bottom: 3px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-menu a {
  color: #32425c;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

/*------------------------Хедер низ, навигация-----------------------------------------*/
.main-nav {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 25px;


  list-style: none;
}

.main-nav-list li {
  flex-grow: 1;

  text-align: center;
}

.main-nav-list a {
  display: block;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 23px;

  color: #ffffff;
  text-decoration: none;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  background-color: #293449;
}

.main-nav-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*------------------------Основная. Содержимое-----------------------------------------*/
.button-red {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}
/*------------------------Основная.-----------------------------------------*/
/*---------------------Основаная. Промо--------------------------*/
.promo {
  display: flex;
  flex-wrap: wrap;

  margin-top: 59px;
  margin-bottom: 33px;

  background-color: #ffffff;
}

/*Плитки*/
.promo-small-block {
  width: 300px;
  height: 123px;

  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-small-group .promo-small-block {
  margin-right: 0;
}

.promo .promo-small-block:nth-of-type(3n) {
  margin-right: 0;
}

/*Кнопка*/
.promo-small-block h3 {
  margin: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-small-block a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-small-block a:hover,
.promo-small-block a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-small-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-instruments {
  background-color: #3bbce3;
}

.promo-technics {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

/*Промо слайдер*/
.promo-slider {
  width: 620px;
  height: 266px;

  margin-right: 20px;
  margin-bottom: 20px;

  outline: 2px solid rgb(255, 0, 0);
}

.promo-slider h3 {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-slider p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
/*---------------------Основаная. Популярное--------------------------*/
.popular-header {
  margin-top: 20px;

  background-color: #f9f5f0;
}

.popular-header h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/*---------------------Основаная. Популярные товары--------------------------*/
.popular-goods {
  margin-bottom: 20px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
}

.popular-goods-list li {
  margin-top: 20px;
  margin-bottom: 0;
}

.popular-goods-list li:nth-child(4n) {
  margin-right: 0;
}

/*Карточки товаров см. стили каталога - Перечень товаров*/
/*---------------------Основаная. Популярные производители--------------------------*/
.popular-devs {
  margin-bottom: 85px;
}

.popular-devs-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.popular-devs-list li {
  width: 220px;
  height: 145px;

  margin-right: 20px;
  margin-top: 20px;

  text-align: center;

  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.popular-devs-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-devs-list li:hover,
.popular-devs-list li:focus {
  border: none;
  box-shadow: 0 10px 20px 0 rgba(41, 52, 73, 0.5);
}

.popular-devs-list li:active {
  opacity: 0.3;
  box-shadow: 0 4px 20px 0 rgba(41, 52, 73, 0.5);
}
/*---------------------Основная. Сервисы слайдер--------------------------*/
.services {
  margin-bottom: 80px;

  background-color: #f4f8f9;
}

.services h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.services-slider {
  display: flex;
}

.services-buttons {
  width: 240px;

  list-style: none;
}

.services-buttons button {
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;
  border: none;
}

.services-buttons button:hover,
.services-buttons .button-red:focus {
  background-color: #293449;
}

.services-buttons button:active {
  color: #32425c;
  background-color: #ffffff;
}

.service-slides {
  width: 700px;
}
/*------------------------Основная. О компании-----------------------------------------*/
.about-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 93px;

  color: #000000;
}

.about-description {
  width: 520px;
}

.about-columns h2 {
  margin: 0;
  padding-bottom: 13px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  word-spacing: -4px;
}

.about-columns p {
  margin-top: 13px;
  margin-bottom: 24px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-description p:nth-of-type(1) {
  word-spacing: 1px;
}

.about-description p:nth-of-type(2) {
  padding-right: 130px;
  letter-spacing: 0.04px;
  margin-bottom: 21px;
}

.about-delivery {
  margin-bottom: 43px;
  padding-left: 35px;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-delivery li {
  position: relative;
  margin-bottom: 20px;
}

.about-delivery li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -35px;

  width: 25px;
  height: 3px;

  display: block;

  background-color: #ee3643;
}

.button-about {
  padding: 11px 40px;
}

.about-contacts {
  width: 300px;
}

.about-contacts p {
  padding-right: 90px;
  margin-bottom: 32px;
}

.about-contacts img {
  margin-bottom: 39px;
}

.button-feeback {
  padding: 11px 0;
  padding-right: 59px;
  padding-left: 64px;
}
/*------------------------Каталог-----------------------------------------*/
/*------------------------Каталог. Содержимое-----------------------------------------*/
.catalog {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

/*------------------------Каталог. Хлебные крошки---------------------*/
.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 21px;
  margin-left: -2px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 38px;
  display: inline-block;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 9px;
  height: 9px;

  border: 1px solid #d0d4da;
  border-bottom: none;
  border-left: none;

  transform: rotate(45deg);
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs .breadcrumbs-home {
  display: block;
  font-size: 0;
  width: 15px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}
/*------------------------Каталог. Заголовок. Сам каталог.---------------------*/
.catalog-category {
  margin-bottom: 19px;
  padding: 30px 27px;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.7px;

  background-color: #f2f6f8;
}

.catalog-area {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}
/*------------------------Каталог. Фильтры. Левая часть---------------------*/
.filters {
  width: 220px;

  background-color: #ffffff;
}

.filters h2,
.sorting h2 {
  margin: 0;
  padding: 10px 0;
  padding-left: 19px;

  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters h2 {
  margin-bottom: 12px;
}

.form-filter fieldset {
  margin: 0;
  padding: 0;

  padding-bottom: 26px;
  margin-bottom: 16px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form-filter legend {
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
/*------------------------Каталог. Фильтры. По цене.-------------------------*/
.price-multirange {
  margin-bottom: 9px;
  padding: 39px 0;
  padding-left: 21px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-multirange-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.price-multirange-scale .price-multirange-active {
  position: absolute;
  width: 151px;
  height: 2px;
  background-color: #00ca74;
}

.multirange-button {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 23px;
  font-size: 0;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.multirange-minbutton {
  left: 0;
}

.multirange-maxbutton {
  left: 140px;
}

.price-range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-range-inputs input {
  width: 95px;
  padding: 9px 5px;
  padding-left: 10px;

  text-align: center;

  background-color: #f7f3ec;
  border: none;
}
/*------------------------Каталог. Фильтры. Переключатели-------------------*/
.filter-switches ul {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
  text-transform: uppercase;
}

.filter-switches .filter-devs {
  padding-bottom: 22px;
  margin-bottom: 18px;
}

.filter-switches li {
  padding-left: 34px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.filter-devs-list li:last-child,
.filter-power-list li:last-child {
  margin-bottom: 0;
}

.filter-switches input {
  display: none;
}

.filter-switches label {
  position: relative;

  display: block;

  color: #000000;

  cursor: pointer;
  user-select: none;
}

/* Чекбоксы */
.filter-devs-item + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -33px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-devs-item:not(:checked) + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-devs-item:hover:not(:checked) + label::before,
.filter-devs-item:focus:not(:checked) + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-devs-item:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-devs-item:hover:checked + label::before,
.filter-devs-item:focus:checked + label::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-devs-item:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-devs-item:disabled + label::before {
  opacity: 0.3;
}

/* Радио кнопки */
.filter-switches .filter-power {
  padding-bottom: 0;
  margin-bottom: 78px;
  border: none;
}

.filter-power-item + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.filter-power-item:not(:checked) + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-power-item:hover:not(:checked) + label::before,
.filter-power-item:focus:not(:checked) + label::before {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-power-item:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-power-item:hover:checked + label::before,
.filter-power-item:focus:checked + label::before {
  background-image: url("../img/radio-on-hover.svg");
}

.filter-power-item:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-power-item:disabled + label::before {
  opacity: 0.3;
}

/* Кнопка показать */
.filter-showbutton {
  padding: 9px 38px;

  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/*------------------------Каталог. Правая часть----------------*/
.catalog-area-right {
  width: 700px;
}
/*------------------------Каталог. Фильтры. Сортировка---------*/
.sorting {
  display: flex;

  width: 700px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting-options {
  display: flex;
  margin-left: auto;
}

.sorting-sortby,
.sorting-order {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-sortby {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 25px;
  width: 405px;
}

.sorting-sortby a {
  line-height: 38px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #ee3643;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.sorting-sortby a:hover,
.sorting-sortby a:focus {
  color: #000000;
  text-decoration-style: solid;
}

.sorting-order {
  width: 80px;
}

.sorting-order .hide {
  font-size: 0;
}

.sorting-order a {
  position: relative;
  padding-left: 18px;

  font-size: 0;
  line-height: 38px;
  color: #c5c5c5;

  text-decoration: none;
  /* Через border
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right: none;
  border-left: 10px solid #ee3643; */
}

.sorting-order .sort-asc::after,
.sorting-order .sort-desc::after {
  position: absolute;
  content: "\25B2";
  font-size: 15px;
}

.sorting-order .sort-desc::after {
  left: 32px;
  content: "\25BC";
}

.sorting-order a:hover::after,
.sorting-order a:focus::after {
  color: #231f20;
}

.sorting-options a.sort-active,
.sorting-options a.sort-active::after {
  color: #ee3643;
  text-decoration: none;
}
/*------------------------Каталог, Основная. Перечень товаров---------------*/
.goods {
  margin-bottom: 32px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.goods-list,
.goods-item-popup {
  list-style: none;
}

.goods-name {
  font-size: 18px;
  line-height: 20px;
}

.goods-list a {
  text-decoration: none;
}

.goods-name a {
  color: #000000;
}

.goods-item {
  width: 218px;
  height: 318px;

  margin-right: 23px;
  margin-bottom: 20px;

  box-shadow: 0 0 0 1px #e5e5e5;
}

.catalog-goods-list .goods-item:nth-child(3n) {
  margin-right: 0;
}

.goods-item:hover,
.goods-item:focus {
  box-shadow: none;
}

.goods-discount {
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
}

.goods-cost {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  background-color: #ee3643;
}

.item-popup-buy,
.item-popup-addfavorites {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
}

.item-popup-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.item-popup-buy:hover,
.item-popup-buy:focus {
  background-color: #5fbb2d;
}

.item-popup-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item-popup-addfavorites {
  color: #32425c;

  background-color: transparent;
  border: 3px solid #63a63e;
}

.item-popup-addfavorites:hover,
.item-popup-addfavorites:focus {
  border: 3px solid #32425c;
}

.item-popup-addfavorites:active {
  opacity: 0.3;
}
/*------------------------Каталог. Пагинация--------------------------------*/
.goods-pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-showbutton:hover,
.filter-showbutton:focus,
.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.filter-showbutton:active,
.pagination-item:active {
  border-color: #ee3643;
}

.pagination-current {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}
/*------------------------Каталог. О товарах--------------------------------*/
.about-goods {

  background-color: #f2f6f8;
}

.about-goods h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-goods p {
  margin: 0;

  color: #000000;

  font-size: 13px;
  line-height: 24px;
}
/*------------------------ФУТЕР-----------------------------------------*/
/*------------------------Верх футера-----------------------------------------*/
.main-footer {
  margin: 0;
}

.footer-top {
  background-color: #32425c;
  padding-bottom: 47px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
}

.footer-logo {
  height: 63px;
  margin-bottom: 33px;
}

.footer-logo img {
  margin-top: 20px;
}

.footer-top-left p {
  margin: 0;
  padding: 0;
  padding-left: 4px;

  font-size: 18px;
  line-height: 24px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-top: 20px;
  padding-bottom: 7px;

  width: 580px;
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-nav-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
  padding-left: 2px;
}

.footer-nav-row1 a {
  padding-left: 30px;

  color: #f1f5f7;
}

.footer-nav-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 12px 0;
  padding-left: 25px;
}

.footer-nav-row2 a {
  padding-left: 30px;

  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
}
/*------------------------Низ футера-----------------------------------------*/

.footer-bottom {
  padding-top: 37px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;


  background-color: #293449;
  /* background-color: white; */
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-wrapper p {
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.footer-bottom-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 525px;
}

.footer-copyrights {
  width: 240px;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-socials li {
  font-size: 0;
}

.footer-socials a {
  position: relative;

  display: inline-block;
  margin-right: 3px;

  font-size: 0;

  background-color: #212a3a;

  width: 42px;
  height: 42px;

  border-radius: 50%;
  background-repeat: no-repeat;
}

.footer-social-vk {
  background-image: url("../img/icon-vk.svg");
  background-position: 7px 13px;
}

.footer-social-fb {
  background-image: url("../img/icon-fb.svg");
  background-position: 14px 10px;
}

.footer-social-insta {
  background-image: url("../img/icon-insta.svg");
  background-position: 9px 10px;
}

.footer-socials a:hover,
.footer-socials a:focus,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-bottom-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 300px;
}

.footer-feedback {
  width: 140px;
}

.footer-developers {
  width: 111px;
}

.footer-links {
  color: #ffd180;
  text-decoration: none;
}

.footer-links:hover,
.footer-links:focus {
  color: #ffd180;
  text-decoration: underline;
}

.footer-links:active {
  color: #ee3643;
}

/*------------------------Модалки-------------------------------------*/
/*------------------------Модалки.Сообщите нам.-----------------------*/
.modal-writeus {
  position: fixed;
  top: calc(50% - 215px);
  left: calc(50% - 310px);
  display: none;

  width: 620px;
  height: 430px;


  background-color: #ffffff;

  box-shadow: 0 7px 0 0 #ff5257 inset,
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-writeus-form {
  padding-top: 32px;
}

.writeus-form-top {
  width: 460px;
  margin: 0 auto;
}

.modal-writeus label {
  display: block;
  padding-top: 21px;
  padding-bottom: 9px;
  padding-left: 1px;

  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.modal-writeus-form input,
.modal-writeus-form textarea {
  width: 100%;
  padding: 9px 14px 11px 14px;

  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-writeus-form textarea {
  min-width: 460px;
  min-height: 114px;
}

.writeus-form-columns {
  display: flex;
  justify-content: space-between;
}

.writeus-form-columns .writeus-half-width {
  flex-grow: 1;
}

.writeus-form-columns .writeus-half-width:first-child {
  margin-right: 20px;
}

.writeus-form-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 37px;
  width: 100%;
  height: 112px;

  background-color: #f4f4f4;
}

.writeus-submit {
  display: block;
  margin: 0 auto;
  padding: 11px 10px;
  padding-bottom: 27px;
  width: 460px;
  height: 38px;
}

.modal-writeus-close {
  top: 24px;
  right: 33px;
}

.modal-close {
  position: absolute;
  padding: 0;

  font-size: 0;

  border: none;
  background: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  display: block;
  width: 27px;
  height: 4px;
  position: absolute;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

/*------------------------Модалки.Карта.-----------------------*/
.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;

  margin-top: -223px;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  overflow: hidden;

  background-color: #ffffff;

  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map img {
  width: 940px;
}

.modal-map-close {
  top: 17px;
  right: 33px;
}

.modal-show {
  display: block;
}
